@import "~normalize.css"; // знак ~ говорит, что библиотеку нужно искать в node_modules
@import "./base/_base";
@import "./gallery/gallery";

:root {
  --bgcolor-card: #f8f8f8;
  --bradius: 8px;
}

h1 {
  color: #fc0505;
  text-align: center;
}